@page
@model FypPms.Pages.Student.Project.MyProjectModel
@{
    ViewData["Title"] = "My Project";
}

<div class="container">
    <div class="row">
        @if (Model.Project != null)
        {
            <div class="col-md-4">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Project.AssignedId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.AssignedId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Project.ProjectTitle)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.ProjectTitle)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Supervisor.SupervisorName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Supervisor.SupervisorName)
                    </dd>
                    @if (Model.CoSupervisor != null)
                    {
                        <dt>
                            Co-Supervisor
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CoSupervisor.SupervisorName)
                        </dd>
                    }
                    else
                    {
                        <dt>
                            Co-Supervisor
                        </dt>
                        <dd>
                            None
                        </dd>
                    }
                    @if (Model.Moderator != null)
                    {
                        <dt>
                            Moderator
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Moderator.SupervisorName)
                        </dd>
                    }
                    else
                    {
                        <dt>
                            Moderator
                        </dt>
                        <dd>
                            None
                        </dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.Project.ProjectType)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.ProjectType)
                    </dd>

                    <dt>
                        Project Specialization
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ProjectSpecializations[0].Specialization.SpecializationName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Project.ProjectCategory)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.ProjectCategory)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Project.ProjectFocus)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.ProjectFocus)
                    </dd>
                </dl>
            </div>
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectSpecializations[0].ProjectDescription)
                    </dt>
                    <dd>
                        @Html.Raw(Model.ProjectSpecializations[0].ProjectDescription)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectSpecializations[0].ProjectObjective)
                    </dt>
                    <dd>
                        @Html.Raw(Model.ProjectSpecializations[0].ProjectObjective)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.ProjectSpecializations[0].ProjectScope)
                    </dt>
                    <dd>
                        @Html.Raw(Model.ProjectSpecializations[0].ProjectScope)
                    </dd>
                </dl>
            </div>
        }
        else
        {
            <div class="col-md-12">
                <p>You have no project yet.</p>
                <a class="btn btn-outline-primary" asp-page="/Student/Project/MyProposal">Create New Proposal</a>
                <a class="btn btn-outline-primary" asp-page="/Student/Project/ProjectList">View More Project</a>
            </div>
        }
    </div>
</div>



