@page
@model FypPms.Pages.Coordinator.IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <p class="text-success">@Model.SuccessMessage</p>
                <p class="text-danger">@Model.ErrorMessage</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Announcement</h4>
            @if (Model.Announcements.Count() > 0)
            {
                @foreach (var item in Model.Announcements)
                {
                    <div class="card border-dark">
                        <div class="card-header text-white" style="background-color: #00695c;">
                            @item.AnnouncementSubject
                        </div>
                        <div class="card-body" style="background-color: #ffffff;">
                            <p class="card-text text-dark">Type: @item.AnnouncementType</p>
                            <p class="card-text text-dark">@Html.Raw(item.AnnouncementBody)</p>
                            @if (item.AttachmentFile != null)
                            {
                                <span>Attachment: </span>
                                <a class="btn-link" asp-page="/Coordinator/Index" asp-route-id="@item.AnnouncementId" asp-page-handler="Download"> @item.AttachmentFile</a>
                            }
                            <p class="card-text text-dark">
                                @item.DateCreated
                                @if (item.DateModified == null)
                                {
                                    <span>(New)</span>
                                }
                                else
                                {
                                    <span>(Edited)</span>
                                }
                            </p>
                        </div>
                    </div>
                    <br />
                }
            }
            else
            {
                <div class="card border-dark" style="background-color: #ffffff;">
                    <div class="card-body">
                        <p class="card-text text-dark">No announcement created</p>
                        <a class="card-link btn btn-outline-primary" asp-page="/Coordinator/Announcement/Create">Create New</a>
                    </div>
                </div>
            }
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h4>Project (Require Reviewer)</h4>
                    <div class="card border-dark">
                        @if (Model.Reviews.Count() > 0)
                        {
                            @foreach (var item in Model.Reviews)
                            {
                                <div class="card-body">
                                    <p class="card-text text-dark">Project Title: @item.Project.ProjectTitle</p>
                                    <p class="card-text text-dark">Supervisor: @Model.SupervisorPairs[item.Project.SupervisorId]</p>
                                </div>
                                <br />
                            }
                            <div class="card-body">
                                <a class="card-link btn btn-outline-primary" asp-page="/Coordinator/Review/Index">Assign Reviewer</a>
                            </div>
                        }
                        else
                        {
                            <div class="card-body" style="background-color: #ffffff;">
                                <p class="card-text text-dark">No pending review request</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h4>Project (Change Request)</h4>
                    <div class="card border-dark">
                        @if (Model.ChangeRequests.Count() > 0)
                        {
                            @foreach (var item in Model.ChangeRequests)
                            {
                                <div class="card-body">
                                    <p class="card-text text-dark">Project Title: @item.Project.ProjectTitle</p>
                                    <p class="card-text text-dark">Reason to change: @Html.Raw(item.ReasonToChange)</p>
                                </div>
                                <br />
                            }
                            <div class="card-body">
                                <a class="card-link btn btn-outline-primary" asp-page="/Coordinator/Project/ChangeRequest/Index">View Change Request</a>
                            </div>
                        }
                        else
                        {
                            <div class="card-body" style="background-color: #ffffff;">
                                <p class="card-text text-dark">No pending project change request</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <h4>Student (Require Approval)</h4>
                    <div class="card border-dark">
                        @if (Model.Students.Count() > 0)
                        {
                            @foreach (var item in Model.Students)
                            {
                                <div class="card-body">
                                    <p class="card-text text-dark">@item.AssignedId: @item.StudentName</p>
                                </div>
                                <br />
                            }
                            <div class="card-body">
                                <a class="card-link btn btn-outline-primary" asp-page="/Coordinator/Student/Index">Approve Student</a>
                            </div>
                        }
                        else
                        {
                            <div class="card-body">
                                <p class="card-text text-dark" style="background-color: #ffffff;">No pending student approval</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

